[Unit]

Description=API

After=syslog.target

[Service]

Type=simple

User=taxi

Group=sudo

WorkingDirectory=/home/taxi/www/

ExecStart=/home/taxi/www/admin-panel/run_flask.sh

StandardOutput=syslog

StandardError=syslog

[Install]

WantedBy=multi-user.target