[Unit]

Description=API

After=syslog.target

[Service]

Type=simple

User=root

Group=root

WorkingDirectory=/home/taxi/www

ExecStart=/home/taxi/www/run.sh

StandardOutput=syslog

StandardError=syslog

[Install]

WantedBy=multi-user.target